<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <title>Update Task</title>
</head>
<body>
    <h1>Update Task</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash">
        {% for category, message in messages: %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{url_for('update', taskno=taskno)}}" method="post">
        <input type="text" id="task" name="task" value="{{task}}">
        <br />
        <input type="text" id="category" name="cattext" value="{{category}}" placeholder="Enter new category...">
        <p>OR</p>
        <select name="catdrop" id="category">
            <option selected value="">--Select existing category--</option>
            {% for cat in categories: %}
            <option value="{{cat[0]}}">{{cat[0]}}</option>
            {% endfor %}
        </select>
        <br />
        <button type="submit">Update Task</button>
    </form>
</body>
</html>